<html>
<head>
    <title>Dashboard</title>
</head>
<body>
<h2>Assets</h2>
<ul id="assets"></ul>

<script>
    fetch("/assets")
        .then(res => res.json())
        .then(data => {
            const ul = document.getElementById("assets");
            data.forEach(asset => {
                const li = document.createElement("li");
                li.textContent = asset.name;
                ul.appendChild(li);
            })
        });
</script>
<a href="/dashboard/create">Create Asset</a>
</body>
</html>